{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
    <h2>Register</h2>
    <form method="post">
            <input type="text" name="username" value="{{username}}" placeholder="username">

          <div class="error">
            {{error_username}}
          </div>
            <input type="password" name="password" value="" placeholder="password">

          <div class="error">
            {{error_password}}
          </div>
            <input type="password" name="verify" value="" placeholder="verify password">
          <div class="error">
            {{error_verify}}
          </div>

          <input type="text" name="email" value="{{email}}" placeholder="email (optional)">

          <div class="error">
            {{error_email}}
          </div>

      <input type="submit">
    </form>
{% endblock %}